

<!-- <button pButton label_="Start">Hola mundo</button> -->
<section class="sectionFirstImages">
  <div *ngFor="let item of result3" class="uniqueCard">
    <p-card [header] = "item.title"  subheader="Card Subheader" [style]="{width: '360px'}" styleClass="p-card-shadow">
      <ng-template pTemplate="header">
          <img alt="Card" src="{{ 'https://www.themoviedb.org/t/p/original/' + item.backdrop_path }}">
      </ng-template>
      <p>{{ item.overview }}</p>
      <ng-template pTemplate="footer">
          <p-button label="Save" icon="pi pi-check"></p-button>
          <p-button pButton label="More Info" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}" ></p-button>
      </ng-template>
    </p-card>
  </div>
</section>
