*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.sectionFirstImages{
  display: flex;
  margin-left: 25vw;
  justify-content: space-around;
  align-items: center;

  overflow-y: auto;
  height:85vh;
  margin-top: 20px;
}

.uniqueCard{
  padding: 10px;
}


@media screen and (max-width: 1000px) {
  .sectionFirstImages{
    margin-left: 0vw;
  }
}
