*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.sectionFirstImages{

  height:85vh;
  display: flex;
  justify-content: center;
align-items: center;
}

.uniqueCard{
  padding: 10px;
}

.section{
  display: flex;
  /* flex-direction: column; */
}



img{

  cursor: pointer;
}

img:hover{
  transform: scale(1.1);
  transition: 2s;
  box-shadow: 0 0 10px 5px #cfcfcf;
  // position: inherit;
}



@media screen and (max-width: 1000px) {
  .sectionFirstImages{
    margin-left: 0vw;
  }
  .section{
    display: flex;
    flex-direction: column;
  }
}
