<p-scrollPanel [style]="{
  width: '100%',
  height: '80vh',
  margin: '30px 5px',
  borderradius: '2px solid orange'
}" >

<div class="card">
  <p-table  [value]="reviews" >
    <ng-template pTemplate="caption"> Films Scores </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Name</th>
        <th>Rating</th>
        <th>Reviews</th>

        <th>Avatar</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-review let-columns="columns">
      <tr>
        <td>{{ review.author }}</td>
        <td><span>{{ review.author_details.rating }} &nbsp;</span>  <i class="pi  pi-star" [style]="{'color': 'orange'}"></i> </td>

        <td>
          <p-scrollPanel
            [style]="{
              width: ' calc(100% - 100px)',
              height: '100px'
            }"
          >
            {{ review.content  }}

          </p-scrollPanel>

        </td>
        <td><img [src] = " review.author_details.avatar_path ?
          'https://www.themoviedb.org/t/p/original/' + review.author_details.avatar_path : 'https://blogs.unsw.edu.au/nowideas/files/2018/11/error-no-es-fracaso.jpg'
      "  width="100" class="shadow-4" /></td>
      </tr>
    </ng-template>
  </p-table>
</div>
</p-scrollPanel>

