
  <!-- <p-menubar [model]="items"  >
    <ng-template  pTemplate="start" >
        <img src="" height="40" class="mr-2">
    </ng-template>
  </p-menubar> -->

  <p-menubar class="navbarTemplate">
      <div *ngIf="isRegisterEnabled">
        <p-button  (click)="navigateToItems(item.label)" class="navbarButtons" (mouseover)="showAlert(isRegisterEnabled)"  [disabled]="!isRegisterEnabled" [styleClass]= " item.label === 'Login' ? 'p-button-success' : 'p-button-warning' "  *ngFor="let item of items" label="{{item.label}}" ></p-button>
      </div>
      <div style="display:'flex'; ">
        <p class="p-userLogin" *ngIf="state">Welcome back {{ token | async }}</p>
        <button pButton *ngIf="state" (click)="removeToken()">Sign out now!</button>
      </div>

  </p-menubar>

<!-- <p-menubar [model]="items"></p-menubar> -->

<!-- [styleClass]=" item.label ? '' : 'p-button-secondary'" -->
