* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.asideMEnuPlusRouter {
  display: flex;
  background-color: rgb(1, 24, 36);

}

.menuSide {
  padding: 5px;
  background-color: #f6f6f6;
}


.menuRouter{

  display: flex;

}


@media screen and (max-width: 1000px) {
  .asideMEnuPlusRouter {
    flex-direction: column;
  }
  .p-panelmenu-panel{
    width: none;
  }
}
