
<section class="sectionFirstImages">

  <div *ngFor="let item of filteredFilms" class="uniqueCard">
    <p-card
      [header]="item.title | cutterRef"
      [subheader]="item.genre_ids.toString() | arrayToString"
      [style]="{ width: '360px', fontSize: '10px' }"
      styleClass="p-card-shadow"
    >
      <ng-template pTemplate="header">
        <img
          class="imgCard"
          alt="Card"
          [src]="
            item.backdrop_path !== null
              ? 'https://www.themoviedb.org/t/p/original/' + item.backdrop_path
              : 'https://blogs.unsw.edu.au/nowideas/files/2018/11/error-no-es-fracaso.jpg'
          "
        />
      </ng-template>
      <p-scrollPanel
        [style]="{
          width: '100%',
          height: '100px'
        }"
      >
        {{ item.overview }}
      </p-scrollPanel>
      <p-scrollPanel *ngIf="item.overview.length == 0" [style]="{ width: '100%', height: '100px', color: 'red' }">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima ex voluptas labore dolor odio. Voluptates, doloribus quas, nisi eius ipsa temporibus dolorem amet, est quisquam fugiat ullam praesentium harum itaque!
        Corporis neque laborum facilis eaque amet vero enim quisquam iste voluptates. Sequi, architecto deleniti! Voluptates ratione ex tempore, fuga minus, quidem nam amet ab atque quo explicabo, est quas accusamus.
        Voluptate error nisi excepturi! Accusamus beatae, tempora perspiciatis sequi neque est aut quos architecto repellendus ipsam officiis deleniti ea sit. Rem vero nihil dignissimos facere alias tenetur facilis nisi consectetur?
        Illo soluta sit iure accusantium commodi corrupti officia est distinctio? Hic illo dolorum perferendis eius nam ea odit suscipit consequatur omnis quis dolor a eveniet, obcaecati unde tempore deserunt et.
        Ducimus alias harum ullam saepe vel beatae molestias id eaque facere fugiat atque voluptates qui sapiente, illo repellat fuga incidunt et? Maiores architecto debitis suscipit eos impedit id distinctio magnam.
        Accusantium officia possimus minus mollitia delectus laborum asperiores obcaecati neque exercitationem est suscipit voluptate earum, nemo tenetur sequi ipsum consequuntur molestias ipsa. Ipsa quod ratione ex, distinctio velit nihil cupiditate?
        Soluta officia aliquam possimus eaque nisi at nobis. Reprehenderit, doloribus rerum magni, corporis nostrum beatae, inventore neque a reiciendis enim at rem? Earum ipsam id repellat debitis, facere rerum in?
        Perferendis unde culpa, eveniet corporis ducimus illo nisi ab amet doloremque animi ratione quia totam soluta ullam voluptatem alias iure. Voluptatibus modi iusto, illum commodi inventore nisi libero omnis vero!
        Asperiores illum magnam architecto similique ipsam tempore aut, omnis, recusandae nesciunt laborum, consequuntur tempora hic at accusantium esse? Saepe accusantium illum, numquam tenetur quidem inventore sed alias? Ducimus, laboriosam possimus?
        Atque saepe quaerat sed amet, sequi, maxime eligendi ipsa officiis magnam assumenda error labore unde sint, quia aliquid quis corrupti voluptatem animi voluptate aliquam veritatis nam! Nihil dignissimos et placeat.
        Nulla cumque in porro esse mollitia. Iure facere porro culpa quia fugiat nihil repudiandae. Magni, eos, ipsam cum quam a hic doloribus harum maiores aut minus aspernatur, atque accusamus rem.
      </p-scrollPanel>
      <ng-template pTemplate="footer">
        <p-button
          *ngIf="!checkSimilar(item)"
          label="Save this film"
          icon="pi pi-heart-fill"
          (click)="saveToLocal(item)"
        ></p-button>
        <p-button
          *ngIf="checkSimilar(item)"
          label="Saved film"
          icon="pi pi-check"
          styleClass="p-button-success"
        ></p-button>

        <p-button
          label="More Info"
          icon="pi pi-info-circle"
          styleClass="p-button-secondary"
          [style]="{ 'margin-left': '.5em' }"
          (click)="navigateToitem(item)"
        ></p-button>
      </ng-template>
    </p-card>
  </div>
</section>
