*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sectionFirstImages{
  display: flex;
  justify-content: space-evenly;
  // align-items: center;
  flex-wrap: wrap;
  overflow-y: auto;
  height:72vh;
  margin-top: 20px;
  width: 82vw;
}

.uniqueCard{
  padding: 10px;
  margin-top: 20px;
}

.centerh2Estrenos{
  text-align: center;
  padding-top: 10px;
}

.lastNews{
  color: #fccc55;
}

.lastNews1{
  color: #f2f2f2;
}

.filterGenre{
  color: #f2f2f2;
  text-decoration: underline;
  text-decoration-color: #fccc55;
}


select {
  width: 33.33%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  padding: 1%;
}
.filterGenre{
  margin: 10px;
}
option {
  width: 33.33%;
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

option:hover {
  background-color: #f2f2f2;
}

img{
  padding: 2px;
  cursor: pointer;
}

img:hover{
  transform: scale(1.1);
  transition: 2s;
  box-shadow: 0 0 7px 7px #c7c7c7;
}
