<p style="color:'white'">admin works!</p>
<h2 style="color:'white'">Esto es para coger los datos de los usuarios registrados</h2>
<hr>

<section>
  <table style="color: white; ">
    <thead >
      <tr>
        <th colspan="3">Usuarios Premium</th>
      </tr>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of premiumUsers">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.status }}</td>
      </tr>
    </tbody>
    <thead >
      <tr>
        <th colspan="3">Usuarios Normales</th>
      </tr>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of normalUsers">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.status }}</td>
      </tr>
    </tbody>
  </table>
</section>
