.p-datatable .p-datatable-tbody > tr > td {
  padding: 0px;
}


#tdTotal{
  background: #1e2931;
  color: #e3f2fd;
  border: 2px solid orange;
}

#tableTotal{
  border: 3px solid orange;
}

.spanTitle{
  text-decoration: underline;
  text-decoration-color: #FBC02D;
}
